# Python
*.py[cod]
__pycache__/

# Editors and backups
.project
.vscode/
.idea/
.diary/
TODO
*~
\#*#
.#*
*.bak
.dir-locals.el
*.code-workspace

# Mac
.DS_Store

# Zips
*.tar.gz
*.swp
*.zip

# This is the customized part for this repository
.venv/
test_output/
*.egg-info/
dist/
.env
site/
